@import "tailwindcss";

/* Custom color extensions using CSS custom properties */
@theme {
  --color-green-primary: #3BCA43;
  --color-green-secondary: #68ba4c;
}

/* For Firefox */
/* html {
  scrollbar-width: thin;
  scrollbar-color: #1569F4 transparent;
} */


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #1569F4;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;
  
  /* Firefox */
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  /* Chrome, Safari and Opera */
  display: none;
}

